<div th:fragment="header">
    <header class="app-header">
        <h1>Security Auth Platform</h1>
        <div class="header-actions">
            <a id="home"
               th:href="@{/}">Home</a>
            <a id="loginLink"
               sec:authorize="isAnonymous()"
               th:href="@{/loginForm}">로그인</a>
            <a id="registerLink"
               sec:authorize="isAnonymous()"
               th:href="@{/register}">회원가입</a>
            <a id="logoutLink"
               sec:authorize="isAuthenticated()"
               href="#">로그아웃</a>
        </div>
        <meta charset="UTF-8" />
        <!-- CSRF 메타 태그 -->
        <th:block th:if="${_csrf != null}">
            <meta name="_csrf" th:content="${_csrf.token}" />
            <meta name="_csrf_header" th:content="${_csrf.headerName}" />
        </th:block>
    </header>
    <script th:src="@{/js/logout.js}"></script>
</div>
