<div th:fragment="menu">
    <nav class="sidebar">
        <div class="menu-section">
            <div class="menu-title">1단계 인증</div>
            <ul>
                <li><a th:href="@{/loginForm}">Form 로그인</a></li>
                <li><a th:href="@{/loginOtt}">OTT 로그인</a></li>
                <li><a th:href="@{/loginPasskey}">Passkey 로그인</a></li>
            </ul>
        </div>
        <div class="menu-section">
            <div class="menu-title">2단계 인증</div>
            <ul>
                <li><a th:href="@{/2faChoice(method='otp')}">Form → OTT</a></li>
                <li><a th:href="@{/2faChoice(method='passkey')}">Form → Passkey</a></li>
            </ul>
        </div>
        <div class="menu-section">
            <div class="menu-title">회원</div>
            <ul>
                <li><a th:href="@{/register}">회원 가입</a></li>
                <li><a th:href="@{/users}">회원 목록</a></li>
            </ul>
        </div>
        <div class="menu-section">
            <div class="menu-title">설정</div>
            <ul>
                <li><a th:href="@{/authMode}">인증방식 선택</a></li> <!-- 추가된 부분 -->
            </ul>
        </div>
    </nav>
</div>
