<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Passkey 로그인</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="app-wrapper">
    <header class="app-header"
            th:insert="~{fragments/header :: header}"></header>
    <aside class="sidebar"
           th:insert="~{fragments/menu   :: menu}"></aside>

    <main class="content">
        <div class="container" style="display: flex; justify-content: flex-start; align-items: center;">
            <h2>Passkey 로그인</h2>
            <button id="passkeyBtn" style="width:300px ">Passkey 인증</button>
        </div>
    </main>

    <footer class="app-footer"
            th:insert="~{fragments/footer :: footer}"></footer>
</div>
<script src="/js/token-holder.js"></script>
<script src="/js/init-auth.js"></script>
<script src="/js/passkey-login.js"></script>
</body>
</html>
