<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout}">
<div th:fragment="content">
    <div class="container">
        <h2>사용자 목록</h2>
        <table>
            <thead>
            <tr><th>Username</th><th>Email</th><th>Role</th></tr>
            </thead>
            <tbody>
            <tr th:each="u : ${users}">
                <td th:text="${u.username}">username</td>
                <td th:text="${u.email}">email@example.com</td>
                <td th:text="${u.role}">role</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>
