<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/menu   :: menu}"></div>

<main>
    <div class="container">
        <h2>Registered Users</h2>
        <table>
            <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u : ${users}">
                <td th:text="${u.username}">username</td>
                <td th:text="${u.email}">email@example.com</td>
                <td th:text="${u.role}">role</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>
